{% extends "base.html" %}
{% set active_page = "signin" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
{% endblock %}

{% block body %}
<div class="hero-unit">
    <div class="ac">
    </div>
</div>
<div class="row pricing">
    <div class="span6 offset3">
      <div class="well">
        <h2>Sign In</h2>
        {% if error %}
          <p class="text-error">{{ error }}</p>
        {% endif %}
        <form class="form-horizontal" method=post action="/login">
          <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
              <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">Sign in</button>
            </div>
          </div>
        </form>
        <br />
      </div>
      <p class="ac">Don't have an account? <a href="/register">Create one now!</a><br /></p>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/lib/jquery-1.9.1.min.js"></script>
<script src="/static/js/lib/bootstrap.js"></script>
<script src="/static/js/lib/jquery.touchSwipe.js"></script>

{% endblock %}
